.vscode
.vscode/settings.json
._style.css
._index.html
bootstrap-5.0.2-dist/._.DS_Store
._.git
._bootstrap-5.0.2-dist
.gitignore
.gitignore
._ressources
bootstrap-5.0.2-dist/._css
bootstrap-5.0.2-dist/._js
ressources/._datas
ressources/._pictures
ressources/pictures/._banner-904886_1920.jpg
ressources/pictures/._headerBanner.jpg
ressources/pictures/banner-904886_1920.jpg
index.js
ressources/pictures/._easyRecipe.jpg
._index.js
._sitemap.xml
