@import url('https://fonts.googleapis.com/css?family=Fruktur');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", serif;
  background-color: rgb(236, 236, 235);
}

/* NAVIGATION */
nav {
  background-color: rgb(46, 56, 63);
  box-shadow: 0 5px 10px rgb(46, 56, 63);
  transition: 0.5s;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

nav span {
  color: rgb(249, 168, 40);
}

/* HEADER */
header {
  position: relative;
  top: 126px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(46, 56, 63);
}

#target {
  display: flex;
  width: 150px;
  text-align: left;
  font-family: Fruktur;
  font-weight: bold;
  font-size: 3.5rem;
  animation: color 30s alternate infinite;
  perspective: 200px;
  transform: translateX(26px);
}

.word {
  position: absolute;
}

@keyframes color {
  0% {color: #ff7f50;}
  50% {color: cornflowerblue;}
  100% {color: #ff6347;}
}

.letter {
  transform: translateZ(200px);
}

@keyframes anim {
  25% {
    transform: translateZ(0px);
    opacity: 1;
  }
  
  32% {
    opacity: 0;
    transform: translateZ(-280px) translateX(200px);
  }
}

/* MAIN */
.profile,
.contact,
.achievements,
.skills,
.curses {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 0 10px rgb(46, 56, 63);
}

.card-header {
  background-color: rgb(7, 97, 125);
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(249, 168, 40);
}

.card-body {
  text-align: justify;
  padding: 20px;
}

/* PROFILE CARD */
.profile {
  position: relative;
  top: 125px;
}

.profile .card-body {
  text-align: center;
}

.profile .card-text>a {
  color: rgb(7, 97, 125);
  font-weight: bold;
  text-decoration: none;
}

.profile .card-text>a:hover {
  text-decoration: underline;
}

.profile .btn {
  background-color: rgb(249, 168, 40);
}

.profile .btn:hover {
  box-shadow: 0 0 5px rgb(46, 56, 63);
}

/* CONTACT CARD */
.contact {
  position: relative;
  top: 150px;
}

.contact .btn {
  background-color: rgb(249, 168, 40);
}

.contact .btn:hover {
  box-shadow: 0 0 5px rgb(46, 56, 63);
}

.github,
.linkedin {
  color: rgb(7, 97, 125);
  text-decoration: none;
}

.indeed {
  width: 80px;
  height: auto;
}

.poi {
  color: rgb(247, 56, 89);
}

/* ACHIEVEMENTS CARD */
.achievements {
  position: relative;
  top: 175px;
}

.achievements img:hover {
  opacity: 0.5;
}

.achievements .carousel-item p:nth-child(3) {
  color: rgb(247, 56, 89);
}

/* SKILLS CARD */
.skills {
  position: relative;
  top: 200px;
}

.list-group i {
  font-size: 20px;
  margin-right: 5px;
}

.list-group-item {
  display: flex;
  align-items: center;
}

.skills .accordion-button {
  color: rgb(7, 97, 125);
}

.accordion-body i {
  font-size: 35px;
}

.html {
  color: #ff7f50;
}

.css {
  color: cornflowerblue;
}

.bootstrap {
  color: violet;
}

.java {
  color: rgb(195, 205, 50);
}

.wordpress {
  color: #483d8b;
}

.react {
  color: #8a2be2;
}

.php {
  color: #0000ff;
}

.bdata {
  color: #a9a9a9;
}

.swift1 {
  color: #ff6347;
}

.swift2 {
  color: #6a5acd;
}

.swift3 {
  color: #0000cd;
}

/* CURSES CARD */
.curses {
  position: relative;
  top: 225px;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(249, 168, 40);
}

.curses .nav-link {
  color: rgb(7, 97, 125);
}

.curses a {
  font-weight: bold;
  color: rgb(7, 97, 125);
  text-decoration: none;
}

article a:hover {
  color: rgb(7, 97, 125);
  text-decoration: underline;
}

/* FOOTER */
footer {
  position: relative;
  top: 250px;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: limelight;
  background-color: rgb(46, 56, 63);
  color: rgb(249, 168, 40);
}

@media screen and (max-width: 992px) {
  header {
    top: 80px;
    height: 125px;
  }

  h1 {
    font-size: 1.7rem;
  }

  #target {
    font-size: 1.7rem;
    width: 110px;
  }

  h3 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1rem;
  }

  .profile {
    top: 75px;
  }

  .contact {
    position: relative;
    top: 100px;
  }

  .achievements {
    position: relative;
    top: 125px;
  }

  .skills {
    position: relative;
    top: 150px;
  }

  .curses {
    position: relative;
    top: 175px;
  }

  .clickable_img {
    height: 100px;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
  }

  .card-body {
    text-align: center;
  }

  .map {
    box-shadow: 0px -2px 5px;
  }

  footer {
    position: relative;
    top: 200px;
    height: 75px;
  }
}