@import url('https://fonts.googleapis.com/css?family=Fruktur');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", serif;
  background-color: rgb(252, 251, 232);
  overflow-x: hidden;
}

nav {
  background-color: rgb(161, 181, 210);
  transition: 0.5s;
}

nav span {
  font-family: limelight;
  color: rgb(252, 251, 232);
}

nav .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 15px;
  margin-right: 10px;
}

header {
  position: relative;
  top: 125px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header section {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1,
header h2 {
  font-family: Fruktur;
  font-size: 3.5rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(161, 181, 210);
}

.profile h3,
.achievements h3{
  font-family: limelight;
  font-size: 1.9rem;
  text-decoration: underline;
  color: rgb(149, 125, 91);
}

.skills h3,
.curses h3 {
  font-family: limelight;
  font-size: 1.9rem;
  color: rgb(252, 251, 232)
}

.profile h4,
.skills h4,
.curses h4,
.achievements h4 {
  font-size: 1rem;
}

#target {
  display: flex;
  width: 170px;
  text-align: left;
  font-family: Fruktur;
  font-weight: bold;
  font-size: 3.5rem;
  animation: color 30s alternate infinite;
  perspective: 200px;
  transform: translateX(25px);
}

.word {
  position: absolute;
}

@keyframes color {
  0% {
    color: #ff7f50;
  }

  50% {
    color: cornflowerblue;
  }

  100% {
    color: #ff6347;
  }
}

.letter {
  transform: translateZ(175px);
}

@keyframes anim {
  25% {
    transform: translateZ(0px);
    opacity: 1;
  }

  32% {
    opacity: 0;
    transform: translateZ(-280px) translateX(200px);
  }
}

main {
  position: relative;
  top: 125px;
}

.card-header {
  background-color: rgb(203, 189, 170);
  text-align: center;
}

.profile p {
  text-align: justify;
}

/* PROFILE CARD */
.profile a {
  color: rgb(149, 125, 91);
  font-weight: bold;
  text-decoration: none;
}

.profile a:hover {
  color: rgb(149, 125, 91);
  text-decoration: underline;
}

.profile .btn {
  font-weight: normal;
  color: rgb(149, 125, 91);
  background-color: rgb(241, 232, 131);
  text-decoration: none;
}

.profile .btn:hover {
  background-color: rgb(239, 233, 169);
  text-decoration: none;
}

.profile .contact {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 25px;
}

.profile .contact i {
  margin-right: 10px;
}

.profile .contact .github,
.profile .contact .linkedin,
.profile .contact .indeed {
  color: rgb(161, 181, 210);
  text-decoration: none;
}

.indeed {
  width: 80px;
  height: auto;
}

.achievements img:hover {
  opacity: 0.5;
}

.achievements h4 {
  color: rgb(252, 251, 232);
}

.achievements p {
  color: rgb(252, 251, 232);
}

.skills .progress {
  background-color: rgb(222, 229, 239),
}

.skills .progress-bar {
  color: rgb(252, 251, 232);
  background-color: rgb(161, 181, 210);
}

.skills .list-group i {
  font-size: 20px;
  margin-right: 5px;
}

.skills .list-group-item {
  display: flex;
  align-items: center;
}

.skills .accordion-button {
  color: rgb(149, 125, 91);
}

.skills .accordion-body i {
  font-size: 35px;
}

.skills .html {
  color: #ff7f50;
}

.skills .css {
  color: cornflowerblue;
}

.skills .bootstrap {
  color: violet;
}

.skills .java {
  color: rgb(195, 205, 50);
}

.skills .wordpress {
  color: #483d8b;
}

.skills .react {
  color: #8a2be2;
}

.skills .php {
  color: #0000ff;
}

.skills .bdata {
  color: #a9a9a9;
}

.skills .swift1 {
  color: #ff6347;
}

.skills .swift2 {
  color: #6a5acd;
}

.skills .swift3 {
  color: #0000cd;
}

/* CURSES CARD */
.curses h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(149, 125, 91);
}

.curses .nav-link {
  color: rgb(149, 125, 91);
}

.curses a {
  font-weight: bold;
  color: rgb(203, 189, 170);
  text-decoration: none;
}

article a:hover {
  color: rgb(203, 189, 170);
  text-decoration: underline;
}

/* FOOTER */
footer {
  position: relative;
  top: 150px;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: limelight;
  color: rgb(252, 251, 232);
  background-color: rgb(161, 181, 210);
}

/* MOBILE SIZE */
@media screen and (max-width: 992px) {
  nav .profile-picture {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 2px;
  }

  nav span {
    font-size: 0.9rem;
  }

  header {
    height: 125px;
    top: 100px;
  }

  header h1 {
    font-size: 2rem;
  }

  #target {
    font-size: 2rem;
    width: 120px;
  }

  main {
    top: 100px;
  }

  .profile h3,
  .skills h3,
  .curses h3,
  .achievements h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .profile h4,
  .skills h4,
  .curses h4,
  .achievements h4 {
    font-size: 1.1rem;
  }

  .profile p {
    text-align: center;
  }

  .profile .contact {
    justify-content: center;
  }

  footer {
    height: 75px;
    top: 125px;
  }
}