*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 
    'Helvetica Neue',
    serif;
    background-color: rgb(236, 236, 235);
}

nav {
    background-color: rgb(46, 56, 63);
    box-shadow: 0 5px 10px rgb(46, 56, 63);
}

.navbar-nav .nav-item .nav-link {
    color:rgb(249, 168, 40);
}

.navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
}

.profile-picture {
    width: 100px;
    height: 100px;
}

section .card-body button {
    color: rgb(7, 97, 125);
}

section .card-body button:hover {
    color: rgb(7, 97, 125);
    font-weight: bold;
}

header {
    position: relative;
    top: 130px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(46, 56, 63);
}

h2 {
    font-size: 2rem;
    color: rgb(249, 168, 40);
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

main {
    position: relative;
    top: 135px;
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 0 10px rgb(46, 56, 63);
}

.card-header {
    background-color: rgb(7, 97, 125);
    text-align: center;
}

.card-body {
    text-align: justify;
    padding: 20px;
}

main .card-text a {
    color: rgb(92, 120, 147);
    text-decoration: none;
}

main .card-text a:hover {
    font-weight: bold;
}

.btn {
    background-color: rgb(249, 168, 40);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 5px rgb(46, 56, 63);
}

.poi {
    color: rgb(247, 56, 89);
}

.clickable_img {
    width: 100%;
    height: 150px;
}

.clickable:hover {
    cursor: pointer;
    opacity: 0.5;
  }

.list-group i {
    font-size: 20px;
    margin-right: 5px;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.accordion-body i {
    font-size: 35px;
}

.html {
    color: #ff7f50;
}
.css {
    color: cornflowerblue;
}
.bootstrap {
    color: violet;
}
.java {
    color: rgb(195, 205, 50);
}
.wordpress {
    color: #483d8b;
}
.react {
    color: #8a2be2;
}
.php {
    color: #0000ff
}
.bdata {
    color: #a9a9a9;
}
.swift1 {
    color: #ff6347;
}
.swift2 {
    color: #6a5acd;
}
.swift3 {
    color: #0000cd;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(249, 168, 40);
}

article a {
    font-weight: bold;
    color: rgb(46, 56, 63);
}

article a:hover {
    color: rgb(7, 97, 125);
}

.github, .linkedin {
    font-size: 1.7rem;
    color: rgb(7, 97, 125);
    text-decoration: none;
}

.map {
    width: 100%;
    height: 200px;
    box-shadow: -2px 0px 5px rgb(46, 56, 63);
}

footer {
    position: relative;
    top: 150px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: limelight;
    background-color: rgb(46, 56, 63);
    color: rgb(249, 168, 40);
}

@media screen and (max-width: 992px) {
    header {
        top: 110px;
        height: 125px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size:1.1rem
    }
    main {
        position: relative;
        top: 110px;
    }
    .clickable_img {
        height: 100px;
    }
    .profile-picture {
        width: 75px;
        height: 75px;
    }
    .map {
        box-shadow: 0px -2px 5px;
    }
    footer {
        position: relative;
        top: 125px;
        height: 75px;
    }
}